header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    cursor: default;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
}