.list-item {
    position: relative;
    display: table;
    width: 100%;

    &.selected {
        background: #007AFF !important;

        path {
            fill: #FFF;
        }
    }

    span {
        display: table-cell;
        vertical-align: middle;
    }

    .size {
        font-size: 11px;
        color: rgba(255, 255, 255, .6);
        padding: 2px 0;
    }

    .status {
        position: absolute;
        top: 50%;
        right: 15px;
        width: 12px;
        height: 10px;
        border-radius: 4px;
        transform: translate3d(0, -50%, 0);
        z-index: 2;

        &.done {
            // background: #4CD964;
            margin: 0 5px 0 0;
        }

        &.failed {
            // background: #FF3B30;
            margin: 0 5px 0 0;
        }
    }

    .dot {
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        vertical-align: middle;
        background: rgba(255, 255, 255, .4);
        margin: 0 8px;
    }
}
