.list-item {
    position: relative;
    display: table;
    width: 100%;

    &.selected {
        background: #007AFF !important;
    }

    span {
        display: table-cell;
        vertical-align: middle;
    }
}
