.listtitle {
    position: fixed;
    top: 125px;
    left: 0;
    width: 100%;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    color: rgba(0, 0, 0, .5);
    background: rgba(255, 255, 255, .95);
    z-index: 4;
}

.reset {
    float: right;
}