.list-item {
    position: relative;
    display: table;
    width: 100%;

    &.selected {
        background: #007AFF !important;
    }

    span {
        display: table-cell;
        vertical-align: middle;
    }

    .size {
        font-size: 11px;
        color: rgba(255, 255, 255, .6);
        padding: 2px 0;
    }

    .status {
        position: absolute;
        top: 50%;
        right: 15px;
        width: 20px;
        height: 20px;
        transform: translate3d(0, -50%, 0);
    }
}
