.loading {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        fill: #FFF;
        transform: translate3d(-50%, -50%, 0);
    }

    &.small {
        position: absolute;
        top: 50%;
        right: 15px;
        width: 20px;
        height: 20px;
        transform: translate3d(0, -50%, 0);

        .spinner {
            position: static;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            transform: translate3d(0, 0, 0);
        }
    }
}
