.search-field {
    padding: 0 20px 20px 20px;
    background: rgba(255, 255, 255, 1);

    form {
        display: block;
        width: 100%;
    }

    input {
        color: #000;
        width: 100%;
        background: none;
        border: none;
        // height: 28px;
        border-radius: 4px;
        // font-weight: 300;
        font-size: 32px;
        font-weight: 200;
        outline: none;
        // padding: 0 8px;
    }
}
