.search-field {
    padding: 0 20px 20px 20px;
    background: rgba(255, 255, 255, 1);

    form {
        display: block;
        width: 100%;
    }

    input {
        color: #000;
        width: 100%;
        background: none;
        border: none;
        border-radius: 4px;
        font-size: 32px;
        font-weight: 200;
        outline: none;
        margin-bottom: 10px;
    }

    label {
        color: rgba(0, 0, 0, .5);
        font-size: 12px;
    }

    select {
        border: none;
        background: none;
        appearance: none;
        -webkit-appearance: none;
        color: #000;
        font-size: 12px;
        margin-left: 5px;
        font-weight: 500;
        outline: none;
    }

    ::-webkit-input-placeholder {
        color: rgba(0, 0, 0, .1);
    }
}
