.settings {
    position: relative;
    padding: 10px 20px 8px;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    color: #000;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-content: space-between;

    label {
        color: rgba(0, 0, 0, .5);
        font-size: 12px;
    }

    select {
        border: none;
        background: none;
        appearance: none;
        -webkit-appearance: none;
        margin-left: 5px;
        font-weight: 500;
        outline: none;
    }

    .language,
    .info {
        width: 100%;
    }

    .info {
        text-align: right;

        span {
            display: flex;
            float: right;
        }

        .loading {
            display: block;
            width: 20px;
            height: 10px;
            margin: 0 0 0 3px;

            svg {
                width: 100%;
                fill: black;
            }
        }
    }

    .reset-button {
        position: static;
        margin-left: 15px;
        height: 14px;
    }

}
