.title {
    width: 100%;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -0.5px;
        color: rgba(0, 0, 0, .6);
    }
}
