html,
body {
    margin: 0;
    padding: 0;
}

body {
  position: relative;
  height: 100vh;
  background: #232226;
  color: #fff;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

p {
  font-size: 24px;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
